@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Exo+2:ital@1&family=Rubik+Puddles&display=swap');
html
{
    font-family: 'Comfortaa', cursive;

}
body{
    width:1100px;
    border-style:none;
    display:flex;
    flex-direction: column;
    margin:auto;
    background: content-box radial-gradient(rgba(208, 14, 14, 0), rgb(47, 20, 220));
    background-size:cover;
}
header {
 width:1100px;
 text-align:center;
 display:flex;
 flex-direction: column;
 background-color:rgba(0, 0, 0, 0);
}
.arrondie{
 -moz-border-radius:15px;
 -webkit-border-radius:15px;
 border-radius:15px;
}
article {
    width:1100px;
    text-align:center;
    display:flex;
    flex-direction: column;
    background: content-box radial-gradient(rgba(208, 14, 14, 0), rgb(47, 20, 220));
    padding:10px;
}

.formearticle{
    text-align: justify;
    font-size:larger;
    text-align: center;
    color:black;
}
.centrer{
    text-align: center;
}
.copyright{
    font-size:0.8em;
    margin-left:15px;
    color:black;
}
a{
    text-decoration: antiquewhite;
}
footer{
    width:1100px;
    text-align:vertical center;
    display:flex;
    flex-direction: column;
    background: content-box radial-gradient(rgba(208, 14, 14, 0), rgb(47, 20, 220));
    padding:10px;
    height:80px;
}
.stylepara{
    font-size:0.8em;
    margin-left:800px;
}
span.webmaster{
    text-decoration: underline;
}
nav a{
    font-size:1.1em;
    text-decoration:#FFFFFF;
    display:block;
    width:88px;
    color:white;
    text-decoration:none;
    padding:10px;
}

nav ul{
    margin:0;
    padding:0;
    list-style-type:none;
    text-align:center;
}
nav li{
    float:left;
    margin:auto;
    padding:0;
    background-color:rgba(0, 0, 0, 0);
}
nav{
    height:120px;
    margin-left:5px;
    font-size:0.7em;
    margin-right:5px;
    position:center;
    justify-content:center;
}
nav a:hover{
    border-bottom:solid;
    border-top:solid;
    color:white;
}
.nouvelleclasse{
    font-size:70%;
}